<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="=Content-Type" context="text/html; charset=UTF-8"/>
    <title>Productos Existentes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container mt-4">
    <table class="table">
        <thead class="table">
        <a href="/createCliente" class="btn btn-primary">
            Crear
        </a>
        <tr>
            <th>ID Producto</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="actual:${productos}">
            <td th:text="${actual.getId_prod()}"></td>
            <td th:text="${actual.getNombre_prod()}"></td>
            <td th:text="${actual.getDescripcion_prod()}"></td>
            <td th:text="${actual.getCantidad_existente()}"></td>

            <td >
                <a href="updateCliente/${actual.getCedula()}" class="btn btn-warning">Editar</a>
                <a class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        <a href="/administrador">
            <button>incio</button>
        </a>
        </tbody>
    </table>
</div>
</body>
</html>