<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="=Content-Type" context="text/html; charset=UTF-8"/>
    <title>Facturas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container mt-4">
    <table class="table">
        <thead class="table">
        <tr>
            <th>ID Cliente</th>
            <th>Cliente</th>
            <th>Facturas Compras</th>
            <th>Productos</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="actual:${factura_compra}">
            <td th:text="${cliente.getCedula()}"></td>
            <td th:text="${cliente.getNombreCompleto()}"></td>
            <td th:text="${actual.getNumero_factura_compra()}"></td>
            <td th:text="${actual.getProductosByName()}"></td>
        </tr>
        <a href="/administrador">
            <button>incio</button>
        </a>
        </tbody>
    </table>
</div>
</body>
</html>