body {
    padding: 0;
    margin: 0;
    background-image: url('../images/roberto_mec.jpeg');
}

h3 {
    color: white;
    position: absolute;
    left: 150px;
    top: 500px;
}

.navbar {
    background:#000000;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

.input[type=button] {
    border:1px solid #6ab446;
    background:#6ab446;
    border-radius: 0;
    color:#fff;


}
.input:hover {
    border:1px solid #fff;
    background:#fff;
    color:#000;
    right: 50px;
}

#todas_mascotas_boton {
    position: absolute;
    right: 350px;
    top: 120px;
}

#servicios_vendidos_boton{
    position: absolute;
    right: 350px;
    top: 180px;
}

#clientes_mascotas_boton{
    position: absolute;
    right: 350px;
    top: 240px;
}

#mascotas_por_vet_boton{
    position: absolute;
    right: 350px;
    top: 300px;
}

#facturas_cliente_boton{
    position: absolute;
    right: 350px;
    top: 360px;
}
#productos_existentes_boton{
    position: absolute;
    right: 350px;
    top: 420px;
}
